USE [master]
GO
/****** Object:  Database [CuerdasVibrantes]    Script Date: 11/07/2020 2:11:48 p. m. ******/
CREATE DATABASE [CuerdasVibrantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuerdasVibrantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\CuerdasVibrantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuerdasVibrantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\CuerdasVibrantes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuerdasVibrantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuerdasVibrantes]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARCHIVOS]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARCHIVOS](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[estado_archivo] [nvarchar](70) NOT NULL,
	[nombre_archivo] [nvarchar](70) NOT NULL,
	[observaciones] [nvarchar](200) NOT NULL,
	[usuario] [nvarchar](70) NOT NULL,
	[fecha_carga] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIEZOMETROS]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZOMETROS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[piezometro] [varchar](20) NOT NULL,
	[numero_serie] [varchar](20) NOT NULL,
	[modelo] [varchar](20) NOT NULL,
	[g_valor] [decimal](10, 4) NULL,
	[k_valor] [decimal](10, 4) NULL,
	[ro_valor] [decimal](10, 4) NULL,
	[to_valor] [decimal](10, 2) NULL,
	[so_valor] [decimal](10, 2) NULL,
	[northing] [decimal](10, 2) NULL,
	[easting] [decimal](10, 2) NULL,
	[elevation] [decimal](10, 2) NULL,
	[instrument_tip_elevation] [decimal](10, 2) NULL,
	[geomembrane_elevation] [decimal](10, 2) NULL,
	[estimated_data] [decimal](10, 2) NULL,
	[recorded_data] [decimal](10, 2) NULL,
	[calculated_value] [decimal](10, 4) NULL,
	[estado] [varchar](20) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[fecha_registro] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIEZOMETROS_DETALLE]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZOMETROS_DETALLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[piezometro] [varchar](20) NOT NULL,
	[fecha] [datetime] NULL,
	[to_valor] [decimal](10, 2) NULL,
	[ro_valor] [decimal](10, 2) NULL,
	[so_valor] [decimal](10, 2) NULL,
	[so_valor_kpa] [decimal](10, 2) NULL,
	[p_valor_kpa] [decimal](10, 2) NULL,
	[piezometric_head] [decimal](10, 2) NULL,
	[mh2o] [decimal](10, 2) NULL,
	[water_level] [decimal](10, 2) NULL,
	[fecha_archivo] [date] NULL,
	[fecha_proceso] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIEZOMETROS_REPORTES_EXCEL]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZOMETROS_REPORTES_EXCEL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[piezometro_id] [nvarchar](500) NOT NULL,
	[fecha] [nvarchar](500) NULL,
	[to_valor] [nvarchar](500) NULL,
	[ro_valor] [nvarchar](500) NULL,
	[so_valor] [nvarchar](500) NULL,
	[elevacion_superficie] [nvarchar](500) NULL,
	[observacion] [nvarchar](500) NOT NULL,
	[archivo_excel] [nvarchar](500) NOT NULL,
	[usuario] [nvarchar](100) NOT NULL,
	[fecha_carga] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[piezometro_id] [varchar](20) NOT NULL,
	[fecha] [datetime] NULL,
	[to_valor] [decimal](10, 2) NULL,
	[ro_valor] [decimal](10, 4) NULL,
	[so_valor] [decimal](10, 2) NULL,
	[archivo_excel] [nvarchar](500) NOT NULL,
	[usuario] [nvarchar](100) NOT NULL,
	[fecha_carga] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'3.0.0')
SET IDENTITY_INSERT [dbo].[ARCHIVOS] ON 

INSERT [dbo].[ARCHIVOS] ([codigo], [estado_archivo], [nombre_archivo], [observaciones], [usuario], [fecha_carga]) VALUES (28, N'PENDIENTE', N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'primero', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.417' AS DateTime))
INSERT [dbo].[ARCHIVOS] ([codigo], [estado_archivo], [nombre_archivo], [observaciones], [usuario], [fecha_carga]) VALUES (29, N'PENDIENTE', N'GTI_VWPiezometer_Import_TOPIT_200505 -a.xls', N'SEGUNDO', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:29.280' AS DateTime))
INSERT [dbo].[ARCHIVOS] ([codigo], [estado_archivo], [nombre_archivo], [observaciones], [usuario], [fecha_carga]) VALUES (30, N'PENDIENTE', N'GTI_VWPiezometer_Import_TOPIT_200512 -a.xls', N'tercero', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:02:12.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[ARCHIVOS] OFF
SET IDENTITY_INSERT [dbo].[PIEZOMETROS] ON 

SET IDENTITY_INSERT [dbo].[PIEZOMETROS] OFF
SET IDENTITY_INSERT [dbo].[PIEZOMETROS_DETALLE] ON 

SET IDENTITY_INSERT [dbo].[PIEZOMETROS_DETALLE] OFF
SET IDENTITY_INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL] ON 

INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [elevacion_superficie], [observacion], [archivo_excel], [usuario], [fecha_carga]) VALUES (767, N'TOVP12-03', N'28/04/2020 12:20:00 p. m.', N'10', N'9017.6', N'665.8', N'', N'', N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.433' AS DateTime))
INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [elevacion_superficie], [observacion], [archivo_excel], [usuario], [fecha_carga]) VALUES (768, N'TOVP12-04', N'28/04/2020 12:22:00 p. m.', N'10.2', N'8848.1', N'665.8', N'', N'', N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.443' AS DateTime))
INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [elevacion_superficie], [observacion], [archivo_excel], [usuario], [fecha_carga]) VALUES (769, N'TOVP13-04', N'28/04/2020 12:22:00 p. m.', N'10.2', N'8029.9', N'670.4', N'', N'', N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.443' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL] OFF
SET IDENTITY_INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT] ON 

INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [archivo_excel], [usuario], [fecha_carga]) VALUES (730, N'TOVP16-04', CAST(N'2020-04-28T12:22:00.000' AS DateTime), CAST(12.10 AS Decimal(10, 2)), CAST(8825.3000 AS Decimal(10, 4)), CAST(673.10 AS Decimal(10, 2)), N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.533' AS DateTime))
INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [archivo_excel], [usuario], [fecha_carga]) VALUES (731, N'TOVP16-06', CAST(N'2020-04-28T12:22:00.000' AS DateTime), CAST(10.50 AS Decimal(10, 2)), CAST(8423.9000 AS Decimal(10, 4)), CAST(670.40 AS Decimal(10, 2)), N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.533' AS DateTime))
INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT] ([id], [piezometro_id], [fecha], [to_valor], [ro_valor], [so_valor], [archivo_excel], [usuario], [fecha_carga]) VALUES (732, N'TOVP16-07', CAST(N'2020-04-28T12:22:00.000' AS DateTime), CAST(10.60 AS Decimal(10, 2)), CAST(8735.6000 AS Decimal(10, 4)), CAST(670.40 AS Decimal(10, 2)), N'GTI_VWPiezometer_Import_TOPIT_200428 -a.xls', N'DIDIERYEPEZCA@GMAIL.COM', CAST(N'2020-07-10T10:01:16.537' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PIEZOMETROS_REPORTES_EXCEL_CONVERT] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/07/2020 2:11:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[SP_EXPORT_TOPIT_GENERAL_CALCULOS_GRAFICOS]    Script Date: 11/07/2020 2:11:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================================================================
-- Author:		Didier Yepez Cabanillas
-- Create date: 09/07/2020
-- Description:	Procedure para calcular los valores S1(kPa), P(kPa), Piezometric Head(m), H(m)H2o, WaterLevel(m), 
--				sacando data de la tabla PIEZOMETROS_REPORTES_EXCEL_CONVERT.
-- ===========================================================================================================
CREATE PROCEDURE [dbo].[SP_EXPORT_TOPIT_GENERAL_CALCULOS_GRAFICOS] 
	(@file_excel varchar(100))
AS

BEGIN

DECLARE @fecha_file_string VARCHAR(100)= '20' + RIGHT(LEFT(@file_excel,36),6);
DECLARE @fecha_archivo date;

SET @fecha_archivo = CONVERT(DATE,@fecha_file_string,23);

--print @fecha_file_string 
--print @fecha_archivo

DECLARE @COUNT int = 1;
DECLARE @COUNT_MAX int;
DECLARE @PIEZOMETRO_COINCIDENTE varchar(10);

--------------- Declaramos nuestras variables que nos serviran para sacar los datos importantes de cada piezometro
DECLARE @G decimal(10,4);
DECLARE @K decimal(10,4);
DECLARE @RO decimal(10,2);
DECLARE @TO decimal(10,2);
DECLARE @SO decimal(10,2);

DECLARE @NORTHING decimal(10,2);
DECLARE @EASTING decimal(10,2);
DECLARE @ELEVATION decimal(10,2);
DECLARE @INSTRUMENT_TIP_ELEVATION decimal(10,2);
DECLARE @GEOMEMBRANE_ELEVATION decimal(10,2);

DECLARE @ESTIMATED_DATA decimal(10,2);
DECLARE @RECORDED_DATA decimal(10,2);
DECLARE @CALCULATED_VALUE decimal(10,2);


--------------- Tabla temporal donde insertaremos los piezometros del input hallados en la tabla de registros de 
--------------- piezometros del sistema
CREATE TABLE #PIEZOMETROS_COINCIDENTES(idc int identity(1,1), piezometro_coincidente varchar(10))

--------------- Tabla temporal donde insertaremos los piezometros del input  QUE NO FUERON 
--------------- hallados en la tabla de registros de piezometros del sistema
--CREATE TABLE #PIEZOMETROS_FALTANTES(idc int identity(1,1), piezometro_coincidente varchar(10))

--------------- Tabla temporal donde sacaremos todos los piezometros unicos de la data convertida de cada input
CREATE TABLE #PIEZOMETROS_INPUT_DISTINCT(id int identity(1,1), piezometro varchar(10))

--------------- Insertamos todos los piezometros unicos del archivo que estamos procesando
INSERT INTO #PIEZOMETROS_INPUT_DISTINCT
SELECT DISTINCT piezometro_id
FROM PIEZOMETROS_REPORTES_EXCEL_CONVERT
WHERE archivo_excel = @file_excel

--------------- Cruzamos los piezometros unicos hallados, con el registro de piezometros del sistema que esten ACTIVOS, 
----------------y los insertamos en la tablita donde estaran solo los piezometros hallados.
INSERT INTO #PIEZOMETROS_COINCIDENTES
SELECT PISYS.piezometro
FROM PIEZOMETROS PISYS INNER JOIN #PIEZOMETROS_INPUT_DISTINCT PID
ON PISYS.piezometro = PID.piezometro
WHERE PISYS.estado = 'ACTIVO'


SET @COUNT_MAX = (SELECT COUNT(idc) FROM #PIEZOMETROS_COINCIDENTES)
--SET @COUNT_MAX = 1;

WHILE @COUNT <= @COUNT_MAX
BEGIN 
	

	-------------- // Saco cada piezometro coincidente hallado y con él hallo los valores importantes de los calculos.
	set @PIEZOMETRO_COINCIDENTE = (select piezometro_coincidente from #PIEZOMETROS_COINCIDENTES where idc = @COUNT)	
	
	SET @G = (select g_valor from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @K = (select k_valor from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @RO = (select ro_valor from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @TO = (select to_valor from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @SO = (select so_valor from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);

	SET @NORTHING = (select northing from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @EASTING = (select easting from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @ELEVATION = (select elevation from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @INSTRUMENT_TIP_ELEVATION = (select instrument_tip_elevation from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @GEOMEMBRANE_ELEVATION = (select geomembrane_elevation from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);

	SET @ESTIMATED_DATA = (select estimated_data from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @RECORDED_DATA = (select recorded_data from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);
	SET @CALCULATED_VALUE = (select calculated_value from PIEZOMETROS where piezometro = @PIEZOMETRO_COINCIDENTE);


	--PRINT '------------PIEZOMETRO COINCIDENTE: ' + @PIEZOMETRO_COINCIDENTE

	--PRINT @G
	--PRINT @K
	--PRINT @RO
	--PRINT @TO
	--PRINT @SO

	--PRINT @NORTHING
	--PRINT @EASTING
	--PRINT @ELEVATION
	--PRINT @INSTRUMENT_TIP_ELEVATION
	--PRINT @GEOMEMBRANE_ELEVATION

	--PRINT @ESTIMATED_DATA
	--PRINT @RECORDED_DATA
	--PRINT @CALCULATED_VALUE
	
-----------------------------------------------// Una vez que halle los valores importantes de los piezometros coincidentes,
-----------------------------------------------// los utilizo para hacer los calculos

	SELECT piezometro_id,fecha, to_valor, ro_valor, 
			so_valor as so_valor, (so_valor/10) as so_valor_kpa

			into #PARTE1   ----- Hallamos S1(kPa)

	FROM PIEZOMETROS_REPORTES_EXCEL_CONVERT
	WHERE piezometro_id = @PIEZOMETRO_COINCIDENTE
	AND CONVERT(DATE,fecha) = @fecha_archivo ---- Importante para sacar los datos solo 
	ORDER BY fecha						     ---- de la fecha del archivo que vamos a procesar	

	---------------------------------------------------------
	SELECT piezometro_id, fecha, to_valor, ro_valor, so_valor,
			so_valor_kpa, @G*(@RO - (select ro_valor)) + @K*((select to_valor) - @TO) - (so_valor_kpa -@SO) as p_valor_kpa
	
			into #PARTE2   ------- Hallamos P(kPa)

	FROM #PARTE1		
	ORDER BY fecha
	---------------------------------------------------------

	SELECT piezometro_id, fecha, to_valor, ro_valor, so_valor,
	so_valor_kpa, p_valor_kpa, p_valor_kpa * 0.102 as piezometric_head
		
			into #PARTE3   --------- Hallamos Piezometric head

	FROM #PARTE2
	ORDER BY fecha

	----------------------------------------------------------

	CREATE TABLE #PARTE4
	(id int identity(1,1), piezometro_id varchar(10), fecha datetime, to_valor decimal(10,2)
	, ro_valor decimal(10,4), so_valor decimal(10,4), so_valor_kpa decimal(10,4), p_valor_kpa decimal(10,4), piezometric_head decimal(10,4) 
	, water_level decimal(10,4))
	----------------------------------------------------------
	
	INSERT INTO #PARTE4
	select  piezometro_id, fecha, to_valor, ro_valor, so_valor,
	so_valor_kpa, p_valor_kpa, piezometric_head, 	
	
	piezometric_head + @INSTRUMENT_TIP_ELEVATION as water_level

			--into #PARTE4
	FROM #PARTE3

	------------------------------------------------------------
	INSERT INTO PIEZOMETROS_DETALLE
	select piezometro_id, fecha, to_valor, ro_valor, so_valor, so_valor_kpa, p_valor_kpa, piezometric_head,
	piezometric_head - coalesce(lag(piezometric_head) over (order by id), 0) as mh2o  ---- CALCULAMOS EL VALOR DELTA
	,water_level,@fecha_archivo, GETDATE() as fecha_proceso	
	from #parte4
	order by fecha

	
	DROP TABLE #PARTE1
	DROP TABLE #PARTE2
	DROP TABLE #PARTE3
	DROP TABLE #PARTE4

	SET @COUNT = @COUNT + 1;
END

SELECT * FROM PIEZOMETROS_DETALLE
















END
GO
USE [master]
GO
